.about{
    background-image: url(https://www.grandhotel.com/content/uploads/2023/03/events-2-1920x950.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }

  .navSection {
    position: 'sticky';
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    z-index: 1000;
  }